<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
		 xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
		 data-namespace-typo3-fluid="true">

<f:layout name="Backend/ToolBar/Item/Default" />

<f:section name="Icon">
    <span title="{f:translate(key: 'LLL:EXT:hubic/Resources/Private/Language/locallang_db.xlf:hubic', extensionName: 'hubic')}">
				<core:icon identifier="tx-hubic-icon-toolbar"
									 alternativeMarkupIdentifier="inline" />
    </span>
</f:section>

<f:section name="Title">
	Toolbarrrr
</f:section>


</html>
