<html xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns="http://www.w3.org/1999/xhtml">

<f:render section="Assets"/>


<div class="module">

	<f:be.container includeCssFiles="{0: '{f:uri.resource(path:\'Css/HubiC.css\')}'}"
									includeJsFiles="{0: '{f:uri.resource(path:\'JavaScript/HubiC.js\')}',1: '{f:uri.resource(path:\'JavaScript/HubicModule.js\')}'}"
									pageTitle="hubiC">

		<div class="module-loading-indicator"></div>
		<div class="module-docheader">

			<div class="typo3-docheader-functions">
				<div class="module-docheader-bar module-docheader-bar-navigation">
					<div class="module-docheader-bar-column-left">
						<f:image src="EXT:hubic/Resources/Public/Images/hubic-logo.png" width="100"/>
					</div>
					<div class="module-docheader-bar-column-right"></div>
				</div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">

				<f:if condition="{account}">
					<f:then>
						<div class="page-header">
							<h1>
								<f:translate key="account"/>
								<small>{account.name}</small>
							</h1>
						</div>
					</f:then>
					<f:else>
						<div class="page-header">
							<h1>
								<f:translate key="account"/>
								<span class="badge">{accounts -> f:count()}</span>
							</h1>
						</div>
					</f:else>
				</f:if>

				<f:flashMessages/>
				<f:render section="main"/>
			</div>
		</div>
</div>
</f:be.container>

</div>
</html>
