<div data-namespace-typo3-fluid="true"
			xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers">
	<f:layout name="module"/>

	<f:section name="iconButtons">
	</f:section>

	<f:section name="main">
		<h1>
			<f:image src="typo3conf/ext/hubic/Resources/Public/Images/hubic-logo.png"/>
			<small>
				<f:translate key="docheader.account.index"/>
			</small>
		</h1>

		<table class="table table-striped table-hover">
			<thead>
			<tr>
				<th>
					<f:translate key="account.name"/>
				</th>
				<th>
					<f:translate key="action"/>
				</th>
			</tr>
			</thead>
			<tbody>
			<f:if condition="{accounts}">
				<f:then>
					<f:for each="{accounts}" as="account">
						<tr>
							<td class="nowrap">
								<f:link.action action="show" arguments="{account: account}">{account.name}</f:link.action>
							</td>
							<td>
								<f:link.action action="delete" arguments="{account: account}" class="btn btn-danger">
									<f:translate key="account.delete"/>
								</f:link.action>
							</td>
						</tr>
					</f:for>
				</f:then>
				<f:else>
					<tr>
						<td colspan="2">
							<f:translate key="no_acount"/>
						</td>
					</tr>
				</f:else>
			</f:if>
			</tbody>
		</table>

	</f:section>
</div>
